## Task 1: Read CSV Files

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
df_matches = pd.read_csv('./ipl/matches.csv')
df_deliveries = pd.read_csv('./ipl/deliveries.csv')

In [3]:
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

## Task 2: Get top-level summary

In [4]:
df_matches.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

## Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.

In [5]:
df_matches['umpire3'].unique()
df2_matches = df_matches.drop(['umpire3'], axis=1)
df2_matches.to_csv('./ipl/matches2.csv', index=False)

In [6]:
##Task 4: Print Total Number of Mataches played, Number of Seasons,

In [7]:
print("total no. of matches played =", df_matches.shape[0])

total no. of matches played = 636

In [8]:
print('Total no. of seasons =', df_matches['season'].nunique())

Total no. of seasons = 10

## Task 5: Players who have won the most "Player of the Match" 
## And Team which has the highest number of match wins

In [9]:
df_matches['player_of_match']

0        Yuvraj Singh
1           SPD Smith
2             CA Lynn
3          GJ Maxwell
4           KM Jadhav
            ...
631           V Kohli
632    AB de Villiers
633      MC Henriques
634         DA Warner
635       BCJ Cutting
Name: player_of_match, Length: 636, dtype: object

In [10]:
print(df_matches['player_of_match'].value_counts())

CH Gayle          18
YK Pathan         16
DA Warner         15
AB de Villiers    15
RG Sharma         14
                  ..
S Nadeem           1
RJ Harris          1
R Ashwin           1
DL Vettori         1
MS Gony            1
Name: player_of_match, Length: 201, dtype: int64

In [11]:
my_list = [df_matches['player_of_match'].value_counts().index[0], df_matches.player_of_match.value_counts()[0]]

print("Player with the highest 'Player Of The Match' is {} and has won {} times".format(*my_list))

Player with the highest 'Player Of The Match' is CH Gayle and has won 18 times

In [12]:
my_list = [df_matches.winner.value_counts().index[0], df_matches.winner.value_counts()[0]]

print("{} has won the most times, i.e. {} times".format(*my_list))

Mumbai Indians has won the most times, i.e. 92 times

## Task 6: Find Teams which have won matches by a huge margin

In [13]:
df1 = df_matches[(df_matches.win_by_runs > 100) | (df_matches.win_by_wickets > 8)]

df1.winner.value_counts()

Royal Challengers Bangalore    13
Delhi Daredevils                7
Mumbai Indians                  6
Kolkata Knight Riders           6
Chennai Super Kings             5
Rajasthan Royals                4
Kings XI Punjab                 3
Sunrisers Hyderabad             2
Rising Pune Supergiants         1
Deccan Chargers                 1
Rising Pune Supergiant          1
Name: winner, dtype: int64

## Task 7: Find Count of Matches Played at each city

In [14]:
print("Matches played at each city are:\nCity \t\tGames\n",df_matches.city.value_counts())

Matches played at each city are:
City 		Games
 Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Ahmedabad         12
Centurion         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Ranchi             7
Abu Dhabi          7
Port Elizabeth     7
Cape Town          7
Cuttack            7
Sharjah            6
Raipur             6
Kochi              5
Indore             5
Kanpur             4
Nagpur             3
East London        3
Kimberley          3
Bloemfontein       2
Name: city, dtype: int64

## Task 8: Find Min and Max win_by_wickets at each city

In [15]:
df_matches.groupby(['city', 'winner']).apply(lambda x : x.reset_index(drop=True))

                                          id  season           city  \
city          winner
Abu Dhabi     Chennai Super Kings     0  465    2014      Abu Dhabi
              Kings XI Punjab         0  460    2014      Abu Dhabi
                                      1  472    2014      Abu Dhabi
              Kolkata Knight Riders   0  458    2014      Abu Dhabi
              Rajasthan Royals        0  461    2014      Abu Dhabi
...                                      ...     ...            ...
Visakhapatnam Rising Pune Supergiants 0  625    2016  Visakhapatnam
                                      1  629    2016  Visakhapatnam
              Sunrisers Hyderabad     0  537    2015  Visakhapatnam
                                      1  613    2016  Visakhapatnam
                                      2  616    2016  Visakhapatnam

                                               date                  team1  \
city          winner
Abu Dhabi     Chennai Super Kings     0  2014-04-21    Chennai Super Kings
              Kings XI Punjab         0  2014-04-18    Chennai Super Kings
                                      1  2014-04-26        Kings XI Punjab
              Kolkata Knight Riders   0  2014-04-16  Kolkata Knight Riders
              Rajasthan Royals        0  2014-04-18    Sunrisers Hyderabad
...                                             ...                    ...
Visakhapatnam Rising Pune Supergiants 0  2016-05-17       Delhi Daredevils
                                      1  2016-05-21        Kings XI Punjab
              Sunrisers Hyderabad     0  2015-04-22    Sunrisers Hyderabad
                                      1  2016-05-08    Sunrisers Hyderabad
                                      2  2016-05-10    Sunrisers Hyderabad

                                                           team2  \
city          winner
Abu Dhabi     Chennai Super Kings     0         Delhi Daredevils
              Kings XI Punjab         0          Kings XI Punjab
                                      1    Kolkata Knight Riders
              Kolkata Knight Riders   0           Mumbai Indians
              Rajasthan Royals        0         Rajasthan Royals
...                                                          ...
Visakhapatnam Rising Pune Supergiants 0  Rising Pune Supergiants
                                      1  Rising Pune Supergiants
              Sunrisers Hyderabad     0    Kolkata Knight Riders
                                      1           Mumbai Indians
                                      2  Rising Pune Supergiants

                                                     toss_winner  \
city          winner
Abu Dhabi     Chennai Super Kings     0      Chennai Super Kings
              Kings XI Punjab         0      Chennai Super Kings
                                      1    Kolkata Knight Riders
              Kolkata Knight Riders   0    Kolkata Knight Riders
              Rajasthan Royals        0         Rajasthan Royals
...                                                          ...
Visakhapatnam Rising Pune Supergiants 0  Rising Pune Supergiants
                                      1          Kings XI Punjab
              Sunrisers Hyderabad     0    Kolkata Knight Riders
                                      1           Mumbai Indians
                                      2      Sunrisers Hyderabad

                                        toss_decision  result  dl_applied  \
city          winner
Abu Dhabi     Chennai Super Kings     0           bat  normal           0
              Kings XI Punjab         0           bat  normal           0
                                      1         field  normal           0
              Kolkata Knight Riders   0           bat  normal           0
              Rajasthan Royals        0         field  normal           0
...                                               ...     ...         ...
Visakhapatnam Rising Pune Supergiants 0         field  normal           1
                                      1           bat  normal           0
              Sunrisers Hyderabad     0         field  normal           1
                                      1         field  normal           0
                                      2           bat  normal           0

                                                          winner  win_by_runs  \
city          winner
Abu Dhabi     Chennai Super Kings     0      Chennai Super Kings           93
              Kings XI Punjab         0          Kings XI Punjab            0
                                      1          Kings XI Punjab           23
              Kolkata Knight Riders   0    Kolkata Knight Riders           41
              Rajasthan Royals        0         Rajasthan Royals            0
...                                                          ...          ...
Visakhapatnam Rising Pune Supergiants 0  Rising Pune Supergiants           19
                                      1  Rising Pune Supergiants            0
              Sunrisers Hyderabad     0      Sunrisers Hyderabad           16
                                      1      Sunrisers Hyderabad           85
                                      2      Sunrisers Hyderabad            4

                                         win_by_wickets player_of_match  \
city          winner
Abu Dhabi     Chennai Super Kings     0               0        SK Raina
              Kings XI Punjab         0               6      GJ Maxwell
                                      1               0  Sandeep Sharma
              Kolkata Knight Riders   0               0       JH Kallis
              Rajasthan Royals        0               4       AM Rahane
...                                                 ...             ...
Visakhapatnam Rising Pune Supergiants 0               0        AB Dinda
                                      1               4        MS Dhoni
              Sunrisers Hyderabad     0               0       DA Warner
                                      1               0         A Nehra
                                      2               0         A Zampa

                                                                                     venue  \
city          winner
Abu Dhabi     Chennai Super Kings     0                               Sheikh Zayed Stadium
              Kings XI Punjab         0                               Sheikh Zayed Stadium
                                      1                               Sheikh Zayed Stadium
              Kolkata Knight Riders   0                               Sheikh Zayed Stadium
              Rajasthan Royals        0                               Sheikh Zayed Stadium
...                                                                                    ...
Visakhapatnam Rising Pune Supergiants 0  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
                                      1  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
              Sunrisers Hyderabad     0  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
                                      1  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
                                      2  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...

                                                 umpire1         umpire2  \
city          winner
Abu Dhabi     Chennai Super Kings     0   RK Illingworth   C Shamshuddin
              Kings XI Punjab         0   RK Illingworth   C Shamshuddin
                                      1  HDPK Dharmasena  RK Illingworth
              Kolkata Knight Riders   0        M Erasmus  RK Illingworth
              Rajasthan Royals        0        BF Bowden  RK Illingworth
...                                                  ...             ...
Visakhapatnam Rising Pune Supergiants 0      Nitin Menon   C Shamshuddin
                                      1  HDPK Dharmasena     Nitin Menon
              Sunrisers Hyderabad     0   RK Illingworth     VA Kulkarni
                                      1           S Ravi   C Shamshuddin
                                      2      CB Gaffaney       VK Sharma

                                         umpire3
city          winner
Abu Dhabi     Chennai Super Kings     0      NaN
              Kings XI Punjab         0      NaN
                                      1      NaN
              Kolkata Knight Riders   0      NaN
              Rajasthan Royals        0      NaN
...                                          ...
Visakhapatnam Rising Pune Supergiants 0      NaN
                                      1      NaN
              Sunrisers Hyderabad     0      NaN
                                      1      NaN
                                      2      NaN

[626 rows x 18 columns]

## Task 9: Find the match with biggest defeat by runs,

In [16]:
# df_matches[df_matches.win_by_runs == df_matches.win_by_runs.max()]

df1 = df_matches.sort_values('win_by_runs',ascending=False).head(1)

df1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

In [17]:
df1['win_by_runs']

43    146
Name: win_by_runs, dtype: int64

## Task 10: Find the match with biggest defeat by wickets

In [18]:
df_matches.sort_values('win_by_wickets', ascending=False).head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
183,184,2010,Bangalore,2010-03-18,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,JH Kallis,M Chinnaswamy Stadium,K Hariharan,DJ Harper,NaN
298,299,2011,Mumbai,2011-05-20,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,normal,0,Rajasthan Royals,0,10,SR Watson,Wankhede Stadium,RE Koertzen,PR Reiffel,NaN
71,72,2008,Mumbai,2008-04-27,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,10,AC Gilchrist,Dr DY Patil Sports Academy,Asad Rauf,SL Shastri,NaN
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
542,543,2015,Delhi,2015-04-26,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,VR Aaron,Feroz Shah Kotla,M Erasmus,S Ravi,NaN

In [19]:
# match which are won by 10 wickets:
df_matches[df_matches['win_by_wickets'] == 10]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
34,35,2017,Chandigarh,2017-04-30,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
71,72,2008,Mumbai,2008-04-27,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,10,AC Gilchrist,Dr DY Patil Sports Academy,Asad Rauf,SL Shastri,NaN
119,120,2009,Cape Town,2009-04-19,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,1,Delhi Daredevils,0,10,DL Vettori,Newlands,MR Benson,SD Ranade,NaN
183,184,2010,Bangalore,2010-03-18,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,JH Kallis,M Chinnaswamy Stadium,K Hariharan,DJ Harper,NaN
298,299,2011,Mumbai,2011-05-20,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,normal,0,Rajasthan Royals,0,10,SR Watson,Wankhede Stadium,RE Koertzen,PR Reiffel,NaN
376,377,2012,Jaipur,2012-05-20,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0,Mumbai Indians,0,10,DR Smith,Sawai Mansingh Stadium,HDPK Dharmasena,C Shamshuddin,NaN
390,391,2013,Chandigarh,2013-04-10,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,10,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,C Shamshuddin,NaN
542,543,2015,Delhi,2015-04-26,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,10,VR Aaron,Feroz Shah Kotla,M Erasmus,S Ravi,NaN
590,591,2016,Rajkot,2016-04-21,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,10,B Kumar,Saurashtra Cricket Association Stadium,K Bharatan,HDPK Dharmasena,NaN

In [20]:
df_matches.iloc[df_matches['win_by_runs'].idxmax()]

id                               44
season                         2017
city                          Delhi
date                     2017-05-06
team1                Mumbai Indians
team2              Delhi Daredevils
toss_winner        Delhi Daredevils
toss_decision                 field
result                       normal
dl_applied                        0
winner               Mumbai Indians
win_by_runs                     146
win_by_wickets                    0
player_of_match         LMP Simmons
venue              Feroz Shah Kotla
umpire1                 Nitin Menon
umpire2                   CK Nandan
umpire3                         NaN
Name: 43, dtype: object